{% extends 'base_modal.html.twig' %}

{% set action = path('version_edit') %}
{% set button_text = 'Ajouter' %}
{% set title = 'Ajouter une version' %}
{% if version is not null %}
    {% set action = path('version_edit', {'version': version.id}) %}
    {% set button_text = 'Modifier' %}
    {% set title = 'Modifier une version' %}
{% endif %}

{% block modal_title %}{{ title }}{% endblock %}
{% block body %}
    {{ form_row(form.createdAt) }}
    <div class="form-group">
    {{ form_label(form.tag) }}
        <div class="value errors-container">
            <div class="alert-danger">{{ form_errors(form.tag)}}</div>
            {{ form_widget(form.tag) }}
        </div>

    </div>
    

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}