{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    
        <div class="block ">
            <h2>Vidéos</h2>
            {{ form_start(form)}}
            <div class="row video-list-filter">
                <span>{{ form_widget(form.video) }}</span>
                <span>{{ form_widget(form.program)  }}</span>
                <span>{{ form_widget(form.channel)  }}</span>
                <span>{{ form_widget(form.status) }}</span>
                <span>
                    <button class="btn btn-lg btn-primary" type="submit">
                        <span class="icon search"></span>
                    </button>
                </span>
                <span>
                    <a class="btn btn-lg btn-alert-danger" href="{{ path('video_list')}}">
                        <span class="icon times"></span>
                    </a>
                </span>
            </div>
            {{ form_end(form)}}
        </div>
        <div class="block">
            <div class="block-body">
                <ul>
                    {% if videos is not empty %}
                        {% for video in videos %}
                            <li class="row video-list">
                                <span>
                                    <a href="{{ path('video_edit', {'video': video.id}) }}" title="Modifier">
                                        <span class="badge primary icon pencil-alt"></span>
                                    </a>
                                </span>
                                <span>{{ video.title }}</span>
                                <span>{{ video.broadcastAt | date('d/m/y') }}</span>
                                <span>{{ video.program }}</span>
                                <span>{{ video.channel }}</span>
                                <span>{{ constant('App\\Entity\\Enum\\StatusEnum::STATUS')[video.status] }}</span>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>Auncun résultat</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    
    <a href="{{ path('video_edit') }}" class="btn btn-primary">Ajouter une vidéo</a>
{% endblock %}
